#My
# Ignore the draft folder (as per your confirmation)
draft/

# Ignore files ending with rus/Rus/RUS in any folder
**/*[rR][uU][sS]

# PyCharm
.idea/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
venv/
env/
